In [5]:
import pandas as pd
import numpy as np

In [3]:
PATH_TO_DATA = 'E:/Edureka_Python-Course/Data Sources/Day_4/'

***Question 1, 2, 3, 4***

In [6]:
df_raw = pd.read_csv(f'{PATH_TO_DATA}SalaryGender.csv',low_memory=False)
df_raw

    Salary  Gender  Age  PhD
0    140.0       1   47    1
1     30.0       0   65    1
2     35.1       0   56    0
3     30.0       1   23    0
4     80.0       0   53    1
..     ...     ...  ...  ...
95    18.6       1   26    0
96   152.0       1   56    1
97     1.8       1   28    0
98    35.0       0   44    0
99     4.0       0   24    0

[100 rows x 4 columns]

In [7]:
Salary, Gender, Age, PhD = df_raw.Salary, df_raw.Gender, df_raw.Age, df_raw.PhD

In [9]:
#Assuming Gender 0:Men ; 1:Women
men_with_phd = len([0 for i in range(len(PhD)) if PhD[i] == '1' and Gender[i]=='0'])
women_with_phd = len(PhD) - men_with_phd

In [13]:
Age_PhD = pd.DataFrame({'Age':Age, 'PhD':PhD})
Age_PhD_mod = Age_PhD[Age_PhD['PhD'] == 1]
#print(Age_PhD)
Age_PhD_mod

    Age  PhD
0    47    1
1    65    1
2    56    0
3    23    0
4    53    1
..  ...  ...
95   26    0
96   56    1
97   28    0
98   44    0
99   24    0

[100 rows x 2 columns]

    Age  PhD
0    47    1
1    65    1
4    53    1
8    44    1
9    63    1
12   60    1
17   47    1
18   66    1
19   45    1
25   66    1
26   36    1
28   51    1
29   65    1
30   45    1
31   52    1
32   54    1
38   34    1
41   58    1
42   77    1
45   48    1
47   49    1
49   65    1
54   49    1
56   61    1
57   43    1
60   66    1
63   56    1
73   71    1
76   69    1
77   58    1
79   32    1
80   33    1
81   32    1
87   42    1
89   51    1
90   71    1
92   55    1
94   55    1
96   56    1

In [15]:
total_grads = len(Age_PhD_mod)
total_grads

39

**Question 5**

In [22]:
lis = [0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9]
lis_Count = [lis.count(val) for val in range(max(lis)+1) ]
lis_Count

[4, 2, 1, 1, 3, 2, 0, 0, 0, 1]

**Question 6**

In [36]:
filter_arr = np.array([[0, 1, 2],[ 3, 4, 5],[ 6, 7, 8],[ 9,10, 11]])
fill_arr_res = filter_arr < 5
fill_arr_res = filter_arr[fill_arr_res]
fill_arr_res

array([0, 1, 2, 3, 4])

**Question 7**

In [76]:
nan_array = np.array([i for i in range(10)])
nan_array[5:] = np.nan
print(nan_array)
#NaN val : -2147483648
nan_array = nan_array[nan_array != -2147483648]
nan_array

[          0           1           2           3           4 -2147483648
 -2147483648 -2147483648 -2147483648 -2147483648]

array([0, 1, 2, 3, 4])