- Remove Name
- Fill nulls with mean score
- Merge The datasets and Purge unnecessary columns
- Convert Ethnicity to a numerical value
- Convert Sex(M\F) to Numerical(1\2)

In [1]:
import pandas as pd

In [2]:
DATA_PATH = 'E:/Edureka_Python-Course/Data Sources/Day_4/'

In [4]:
math_df_raw = pd.read_csv(DATA_PATH+'MathScoreTerm1.csv', low_memory=False)
DS_df_raw = pd.read_csv(DATA_PATH+'DSScoreTerm1.csv',low_memory=False)
phys_df_raw = pd.read_csv(DATA_PATH+'PhysicsScoreTerm1.csv',low_memory=False)

dfs = [math_df_raw, DS_df_raw, phys_df_raw] # for easy access

In [5]:
print(math_df_raw.head())
print(DS_df_raw.head())
print(phys_df_raw.head())
print('\n',math_df_raw.columns)

             Name  Score  Age         Ethinicity Subject Sex  ID
0  AI-KYUNG CHUNG   88.0   18     White American   Maths   M   1
1     ALAN HARVEY   85.0   19  European American   Maths   M   2
2    ALAN REYNAUD   45.0   19  European American   Maths   M   3
3  ALBERT CENDANA   82.0   18     White American   Maths   M   4
4  ALBERT HOLT JR   82.0   18     White American   Maths   F   5
             Name  Score  Age         Ethinicity        Subject Sex  ID
0  AI-KYUNG CHUNG   82.0   18     White American  Data Structue   M   1
1     ALAN HARVEY   79.0   19  European American  Data Structue   M   2
2    ALAN REYNAUD   39.0   19  European American  Data Structue   M   3
3  ALBERT CENDANA   76.0   18     White American  Data Structue   M   4
4  ALBERT HOLT JR   76.0   18     White American  Data Structue   F   5
             Name  Score  Age         Ethinicity  Subject Sex  ID
0  AI-KYUNG CHUNG   84.0   18     White American  Physics   M   1
1     ALAN HARVEY   81.0   19  European American  Physics   M   2
2    ALAN REYNAUD   41.0   19  European American  Physics   M   3
3  ALBERT CENDANA   78.0   18     White American  Physics   M   4
4  ALBERT HOLT JR   78.0   18     White American  Physics   F   5

 Index(['Name', 'Score', 'Age', 'Ethinicity', 'Subject', 'Sex', 'ID'], dtype='object')

In [7]:
for df in dfs:
    df.drop(['Name', 'Ethinicity'], axis=1, inplace=True)
    print('Name' in df.columns) #Simple check
    print("Ethinicity" in df.columns)

False
False
False
False
False
False

In [8]:
dfs[1]

     Score  Age        Subject Sex   ID
0     82.0   18  Data Structue   M    1
1     79.0   19  Data Structue   M    2
2     39.0   19  Data Structue   M    3
3     76.0   18  Data Structue   M    4
4     76.0   18  Data Structue   F    5
..     ...  ...            ...  ..  ...
594   39.0   19  Data Structue   F  595
595   69.0   18  Data Structue   M  596
596   47.0   20  Data Structue   M  597
597   69.0   20  Data Structue   M  598
598    NaN   19  Data Structue   M  599

[599 rows x 5 columns]

In [10]:
for df in dfs:
    #df.fillna(value=df.Score.mean(), inplace=True)
    #Check if there is any missing values
    percent_missing = df.isnull().sum() * 100 / len(df)
    print(percent_missing)

Score      0.500835
Age        0.000000
Subject    0.000000
Sex        0.000000
ID         0.000000
dtype: float64
Score      1.335559
Age        0.000000
Subject    0.000000
Sex        0.000000
ID         0.000000
dtype: float64
Score      1.001669
Age        0.000000
Subject    0.000000
Sex        0.000000
ID         0.000000
dtype: float64

In [ ]:
df_merged = pd.merge(dfs[0], dfs[1], how='outer', on='ID', suffixes=['_Math','_DS'])
df_merged = pd.merge(df_merged, dfs[2], how='outer', on='ID')
df_merged

In [13]:
?pd.merge