In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
DATA_PATH = '/home/h4rsh4/learn/Edureka_Python-Course/Data Sources/Day_5/'

In [4]:
df_raw = pd.read_csv(DATA_PATH+'Salaries.csv', low_memory=False)

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [6]:
df_raw.head().transpose()

,0,1,2,3,4
Id,1,2,3,4,5
EmployeeName,NATHANIEL FORD,GARY JIMENEZ,ALBERT PARDINI,CHRISTOPHER CHONG,PATRICK GARDNER
JobTitle,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,CAPTAIN III (POLICE DEPARTMENT),CAPTAIN III (POLICE DEPARTMENT),WIRE ROPE CABLE MAINTENANCE MECHANIC,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)"
BasePay,167411,155966,212739,77916,134402
OvertimePay,0,245132,106088,56120.7,9737
OtherPay,400184,137811,16452.6,198307,182235
Benefits,NaN,NaN,NaN,NaN,NaN
TotalPay,567595,538909,335280,332344,326373
TotalPayBenefits,567595,538909,335280,332344,326373
Year,2011,2011,2011,2011,2011
Notes,NaN,NaN,NaN,NaN,NaN
Agency,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Status,NaN,NaN,NaN,NaN,NaN

In [7]:
df_raw.Year.unique()

array([2011, 2012, 2013, 2014])

In [8]:
'''
Case 1:
Compute how much total salary cost has increased from year 2011 to 2014
'''
tSales_2011 = sum(df_raw[ df_raw.Year == 2011 ].TotalPay)
tSales_2014 = sum(df_raw[ df_raw.Year == 2014 ].TotalPay)

In [15]:
print(
    f'2011 Sales : {round(tSales_2011,2)} dollars\t2014 Sales: {round(tSales_2014,2)} dollars'
    f'\nChange in net Salary from 2011 - 2014 : {tSales_2014-tSales_2011} dollars'+
    f'\n% Change                              : {((tSales_2014-tSales_2011)/tSales_2011) * 100 } %'
)

2011 Sales : 2594113030.72 dollars	2014 Sales: 2876910951.26 dollars
Change in net Salary from 2011 - 2014 : 282797920.53994226 dollars
% Change                              : 10.901526540709225 %

In [46]:
'''
Case 2:
Which Job Title in Year 2014 has highest mean salary?

Approach:
Find the total unique jobs; For each job, filter the db and find mean
'''
df_14_year = df_raw[df_raw.Year == 2014]
jobs = df_14_year.JobTitle.unique() #996 unique jobs
jobs_mean_salaries = []
for job in jobs:
    jobs_mean_salaries.append(
        df_14_year[df_14_year['JobTitle'] == job].TotalPay.mean()
    )
highest_idx = jobs_mean_salaries.index(max(jobs_mean_salaries))
print(f'Highest paying job(mean-wise) : {jobs[highest_idx]}\nMean Pay: {jobs_mean_salaries[highest_idx]}')

Highest paying job(mean-wise) : Chief Investment Officer
Mean Pay: 339653.7

In [49]:
'''
Case 3:
How much can be saved by removing overtime pay? in year 2014
df_14_year
'''
print(f'Total amount saved by removing overtime pay: {round(sum(df_14_year.OvertimePay),2)} dollars')

Total amount saved by removing overtime pay: 205918599.27 dollars

In [61]:
'''
Case 4:
What are the top 5 common job in Year 2014 and how much do they cost SFO?
df_14_year
jobs
'''
jobs_series = list(df_14_year.JobTitle)
jobs_count = [[i, jobs_series.count(i)] for i in jobs]
jobs_count[:5]

[['Deputy Chief 3', 8],
 ['Asst Med Examiner', 4],
 ['Chief Investment Officer', 1],
 ['Chief of Police', 1],
 ['Chief, Fire Department', 1]]

In [68]:
for x in range(len(jobs_count)):
    for y in range(len(jobs_count)-1):
        if jobs_count[y][1] > jobs_count[y+1][1]:
            jobs_count[y][1], jobs_count[y+1][1] = jobs_count[y+1][1], jobs_count[y][1]
            jobs_count[y][0], jobs_count[y+1][0] = jobs_count[y+1][0], jobs_count[y][0]
jobs_count[-5:]

[['Firefighter', 815],
 ['Public Svc Aide-Public Works', 916],
 ['Registered Nurse', 1234],
 ['Special Nurse', 1478],
 ['Transit Operator', 2479]]

In [74]:
#Now find the total pay of each job and sum them all up
most_common_jobs = [i[0] for i in jobs_count[-5:]][::-1]
most_common_jobs

['Transit Operator',
 'Special Nurse',
 'Registered Nurse',
 'Public Svc Aide-Public Works',
 'Firefighter']

In [77]:
most_common_jobs_pay = []
for job in most_common_jobs:
    temp_df = df_14_year[df_14_year['JobTitle'] == job]
    most_common_jobs_pay.append(temp_df.TotalPay.sum())
most_common_jobs_pay

[152007977.75,
 49498738.230000004,
 144406501.26,
 8535453.790000001,
 113283574.6]

In [78]:
#df_14_year[df_14_year['JobTitle'] == 'Transit Operator'].TotalPay.sum()

152007977.75

In [80]:
'''
Case 5:
Who was the top earning employee across all the yearS?
'''
df_raw[df_raw['TotalPay'] == max(df_raw['TotalPay'])].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [81]:
#Enhancement codes

In [85]:
'''
eCase 1:
Which are the last 5 common job in Year 2014 and how much do they cost 
SFO?
'''
least_common_jobs = [job[0] for job in jobs_count[:5]]
least_common_jobs_pay = []
for job in least_common_jobs:
    temp_df = df_14_year[df_14_year['JobTitle'] == job]
    least_common_jobs_pay.append(temp_df.TotalPay.sum())
print(least_common_jobs)
least_common_jobs_pay

['Chief Investment Officer', 'Chief of Police', 'Chief, Fire Department', 'Gen Mgr, Public Trnsp Dept', 'Administrator, DPH']

[339653.7, 326716.76, 326233.44, 294000.18, 282619.96]

In [90]:
'''
eCase 2:
n year 201 OverTimePay was what percentage of  TotalPayBenefits
**2014**
'''
print(str((sum(df_14_year.OvertimePay)/sum(df_14_year.TotalPayBenefits))*100) + ' percentage')

5.387907663195691 percentage

In [92]:
'''
eCase 3:
Which Job Title in Year 2014 has lowest mean salary?
'''
lowest_idx = jobs_mean_salaries.index(min(jobs_mean_salaries))
print(f'Lowest paying job(mean-wise) : {jobs[lowest_idx]}\nMean Pay: {jobs_mean_salaries[lowest_idx]}')

Lowest paying job(mean-wise) : Special Assistant 15
Mean Pay: 0.0