In [1]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('zoo.csv', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [3]:
df.head().transpose()

                    0         1     2     3     4
animal_name  aardvark  antelope  bass  bear  boar
hair                1         1     0     1     1
feathers            0         0     0     0     0
eggs                0         0     1     0     0
milk                1         1     0     1     1
airborne            0         0     0     0     0
aquatic             0         0     1     0     0
predator            1         0     1     1     1
toothed             1         1     1     1     1
backbone            1         1     1     1     1
breathes            1         1     0     1     1
venomous            0         0     0     0     0
fins                0         0     1     0     0
legs                4         4     0     4     4
tail                0         1     1     0     1
domestic            0         0     0     0     0
catsize             1         1     0     1     1
class_type          1         1     4     1     1

In [4]:
sorted(df.class_type.unique())

[1, 2, 3, 4, 5, 6, 7]

In [5]:
features = df.drop(['animal_name', 'class_type'],axis=1)

In [6]:
model_Agg = AgglomerativeClustering(n_clusters=6).fit(features)

In [7]:
mean_squared_error(df.class_type, model_Agg.labels_)

8.108910891089108