In [19]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.svm import SVC

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('College.csv', low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Private      777 non-null    object
 1   Apps         777 non-null    int64
 2   Accept       777 non-null    int64
 3   Enroll       777 non-null    int64
 4   Top10perc    777 non-null    int64
 5   Top25perc    777 non-null    int64
 6   F.Undergrad  777 non-null    int64
 7   P.Undergrad  777 non-null    int64
 8   Outstate     777 non-null    int64
 9   Room.Board   777 non-null    int64
 10  Books        777 non-null    int64
 11  Personal     777 non-null    int64
 12  PhD          777 non-null    int64
 13  Terminal     777 non-null    int64
 14  S.F.Ratio    777 non-null    float64
 15  perc.alumni  777 non-null    int64
 16  Expend       777 non-null    int64
 17  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(1)
memory usage: 109.4+ KB

In [5]:
df.iloc[:2,:].transpose()

                0      1
Private       Yes    Yes
Apps         1660   2186
Accept       1232   1924
Enroll        721    512
Top10perc      23     16
Top25perc      52     29
F.Undergrad  2885   2683
P.Undergrad   537   1227
Outstate     7440  12280
Room.Board   3300   6450
Books         450    750
Personal     2200   1500
PhD            70     29
Terminal       78     30
S.F.Ratio    18.1   12.2
perc.alumni    12     16
Expend       7041  10527
Grad.Rate      60     56

In [7]:
x = df.drop('Private', axis=1)
y = df.Private

In [13]:
private_le = LabelEncoder().fit(y)
y = pd.Series(data=private_le.transform(y), name='Private')
y

0      1
1      1
2      1
3      1
4      1
      ..
772    0
773    1
774    1
775    1
776    1
Name: Private, Length: 777, dtype: int64

In [15]:
trainX, testX, trainY, testY = train_test_split(x, y,
                                                test_size=0.3,
                                                random_state=0)

In [16]:
model_svm = SVC().fit(trainX, trainY)
accuracy_score(testY, model_svm.predict(testX))

0.9444444444444444

In [18]:
scaler = StandardScaler().fit(x)
x_scaled = scaler.transform(x)

trainX, testX, trainY, testY = train_test_split(x_scaled, y,
                                                test_size=0.3,
                                                random_state=0)

model_svm = SVC().fit(trainX, trainY)
accuracy_score(testY, model_svm.predict(testX))

0.9401709401709402

In [33]:
prm_grd = {'C': [0.1, 1, 10, 100, 1000],  
           'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
           'kernel': ['rbf']
          }

gsCV = GridSearchCV(SVC(), param_grid=prm_grd)
gsCV.fit(trainX, trainY)
gsCV.best_estimator_

SVC(C=10, gamma=0.1)

In [21]:
SVC().get_params(deep=True)

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}